@media (max-width: 1605px) {
    .content {
        margin-top: -185px;
        padding-top: 300px;
    }
}


@media (max-width: 1200px) {
    .container {
        max-width: 850px;
    }

    .number {
        font-size: 200px;
        left: -75px;
    }

    .content {
        margin-top: -165px;
        padding-top: 170px;
        background-image: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26 10%);
    }
}

@media (max-width: 991px) {
    .promo {
        &__title {
            font-size: 58px;
            line-height: 58px;
        }
    }

    .tagline {
        margin-bottom: 22px;
        &__title {
            font-size: 12px;
        }
    }

    .content {
        margin-top: -200px;
        padding-top: 100px;
        background-image: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26 5%);
        &__item {
            justify-items: center;
            grid-column-gap: 32px;
            grid-row-gap: 64px;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            margin-bottom: 100px;
            &:last-child {
                padding-bottom: 100px;
            }
        }
        &__photo, &__photo_right {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
            justify-self: center;
        }
        &__text {
            margin-top: 20px;
        }
    }

    .footer {
        &__content {
            justify-content: space-around;
        }
        &__right {
            display: flex;
            flex-direction: column;
        }
        &__column {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 767px) {

    .promo {
        padding: 0 20px 0 20px;
        &__title {
            font-size: 42px;
            line-height: 42px;
        }
    }

    .nav {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        &__links {
            display: none;
        }
    }

    .content {
        &__photo {
            width: 440px;
            height: 560px;
        }
    }

    .number {
        font-size: 200px;
        left: -15px;
    }

    .footer {
        &__wrapper {
            padding-bottom: 50px;
        }
    }

    .hg {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .mg {
        top: 35%;
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .vg {
        top: 55%;
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}

@media (max-width: 575px) {

    .container {
        max-width: 300px;
    }

    .promo {
        &__wrapper {
            max-width: 300px;
        }
        &__title {
            font-size: 28px;
            line-height: 28px;
        }
    }

    .tagline {
        &__title {
            font-size: 10px;
        }
        &__line {
            width: 52px;
        }
    }

    .content {
        padding-top: 105px;
        background-image: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26 5%);
        &__photo {
            width: 300px;
            height: 360px;
        }
        &__text {
            max-width: 300px;
        }
        &__title {
            font-size: 22px;
            line-height: 38px;
        }
        &__descr {
            font-size: 12px;
            line-height: 22px;
        }
        &__readmore {
            font-size: 12px;
        }
    }

    .number {
        font-size: 150px;
        left: -5px;
    }

    .footer {
        &__content {
            flex-direction: column-reverse;
        }
        &__top {
            display: none;
        }
        &__descr {
            font-size: 12px;
        }
        &__title {
            font-size: 18px;
        }
        &__links {
            margin-top: 14px;
        }
        &__link {
            font-size: 12px;
        }
        &__copy {
            margin-top: 20px;
            font-size: 12px;
        }
    }

    .hg, .mg, .vg {
        object-position: 30% 50%;
    }
}