.content {
    position: relative;
    z-index: 50;
    padding-top: 300px;
    background-image: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26 15%);
    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-auto-columns: 1fr;
        width: 100%;      
        grid-column-gap: 100px;
        grid-row-gap: 16px;    
        align-items: center;  
        margin-bottom: 200px;
    }
    &__text {
        position: relative;
        width: 100%;
        max-width: 550px;
    }
    &__title {
        color: #fff;
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 58px;
        margin-top: 27px;
    }
    &__descr {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        color: #FFFFFF;
        margin-top: 27px;
    }
    &__readmore {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 22px;
        color: #FBD784;
        margin-top: 27px;
        img {
            margin-left: 17px;
        }
    }
    &__photo {
        width: 440px;
        height: 640px;
        object-fit: cover;
        justify-self: end;
        &_right {
            width: 440px;
            height: 640px;
            object-fit: cover;
            grid-column-end: 2;
            grid-column-start: 1;
            grid-row-end: 2;
            grid-row-start: 1;
            justify-self: start;
        }
    }
}