.footer {
    background-color: #0b1d26;
    position: relative;
    z-index: 100;
    &__wrapper {
        padding-bottom: 120px;
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__descr {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 30px;
        color: #FFFFFF;
        margin-top: 24px;
    }
    &__copy {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #FFFFFF;
        opacity: 0.5;
        margin-top: 122px;
    }
    &__right {
        display: flex;
        justify-content: space-between;
    }
    &__column {
        margin-right: 60px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #FBD784;
    }
    &__links {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }
    &__link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: #FFFFFF;
        text-decoration: none;
        transition: 0.5s all;
        &:hover {
            color: #FBD784;
        }
    }
}