.nav {
    position: relative;
    margin-top: 64px;
    margin-left: 80px;
    margin-right: 80px;
    z-index: 100;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__account-link {
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        line-height: 20px;
        transition: 0.5s all;
        div {
            margin-left: 10px;
        }
        &:hover {
            color: #FBD784;
            svg {
                stroke: #FBD784;
            }
        }
    }
    &__link {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        margin-right: 40px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        transition: 0.5s all;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: #FBD784;
            transform: translateY(-5px);
        }
    }
}