.number {
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
    z-index: -1;
    top: -110px;
    left: -120px;
}