.preloader {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1001;
    background-color: #0b1d26;
    &__wrapper {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &__logo {
        width: 200px;
        vertical-align: middle;
        display: inline-block;
        animation:preloader-bounce 2s infinite ease-in-out;
    }
}  

  
@keyframes preloader-bounce {

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

  .loaded_hiding .preloader {
    transition: 0.5s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }