.promo {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    &__gradient {
        position: absolute;
        left: 0%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(135deg, #0b1d26, transparent 87%);
        opacity: 0.6;
    }
    &__image {
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
    }
    &__wrapper {
        position: fixed;
        top: 23%;
        z-index: 50;  
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 1920px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
    }
    &__title {
        font-family: 'Serif Display', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 68px;
        line-height: 78px;
        text-transform: capitalize;
        color: #FFFFFF;
    }
}

.hg {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
}

.mg {
    position: absolute;
    left: 0%;
    top: 40%;
    right: 0%;
    bottom: 0%;
    z-index: 0;
}

.vg {
    position: absolute;
    left: 0%;
    top: 60%;
    right: 0%;
    bottom: 0%;
    z-index: 50;
}